n8n_dropbox_upload.json
{
  "name": "File Upload to Dropbox via Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-file",
        "authentication": "basicAuth",
        "options": {
          "binaryData": true
        }
      },
      "id": "5c0651c8-61a0-407e-847f-3b8651aa0401",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "c65ea332-711d-4e76-978a-7d350674029b",
      "credentials": {
        "httpBasicAuth": {
          "id": "Pd6QgV3ORzIBBYT2",
          "name": "file_upload"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"File uploaded successfully to Dropbox\",\n  \"filename\": \"{{ $('Upload a file').item.json.name }}\",\n  \"path\": \"{{ $('Upload a file').item.json.path_lower }}\",\n  \"size\": \"{{ $('Upload a file').item.json.size }}\",\n  \"uploaded_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "26e7f2d1-3c44-4f3c-8e58-1ed039d86691",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/{{ 'uploaded-file-' + new Date().getTime() }}",
        "binaryData": true,
        "binaryPropertyName": "=data"
      },
      "id": "29e2aa8d-1b8c-4d3b-ac19-9dcfb30151b1",
      "name": "Upload a file",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "NiDCpbPnXqMnrvz6",
          "name": "Dropbox account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "922af230-afa0-496c-bd54-2cd5de991c1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "174acdef8c4f07812b4b4fefb81b92442f70dc5e662cedc611661eb1e07edc58"
  },
  "id": "5xMp66XmVslrMt6y",
  "tags": []
}
