n8n_dropbox_upload.json
{
  "name": "File Upload to Dropbox via Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-file",
        "options": {
          "binaryData": true
        }
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/{{ $json.filename || 'uploaded-file-' + new Date().getTime() }}",
        "binaryPropertyName": "data",
        "options": {
          "mode": "overwrite"
        }
      },
      "id": "dropbox-node",
      "name": "Dropbox",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "dropboxApi": {
          "id": "1",
          "name": "Dropbox API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"File uploaded successfully to Dropbox\",\n  \"filename\": \"{{ $('Dropbox').item.json.name }}\",\n  \"path\": \"{{ $('Dropbox').item.json.path_lower }}\",\n  \"size\": \"{{ $('Dropbox').item.json.size }}\",\n  \"uploaded_at\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ Object.keys($input.all()[0].binary || {}).length }}",
              "operation": "equal",
              "value2": "0"
            }
          ]
        }
      },
      "id": "check-file-node",
      "name": "Check File Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"No file provided in the request\",\n  \"message\": \"Please send a file in the request body or as form-data with a file field\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-node",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        600,
        480
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Exists": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
